* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow: visible;
}

/* Estilos de la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000; /* Color de fondo oscuro para la barra */
    padding: 24px;
    position: sticky; /* Fija la barra en la parte superior al hacer scroll */
    top: 0;
    width: 100%; /* Asegura que ocupe todo el ancho de la página */
    z-index: 1000; /* Asegura que la barra siempre esté encima de otros elementos */
}

nav li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 16px;
}

nav a:hover {
    background-color: #555;
}

.navbar-left .brand {
    font-family: 'Anton', sans-serif;
    font-size: 30px; /* Aumenta el tamaño de la fuente del nombre de la marca */
}

.navbar-right {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#container-videojuegos {
    display: flex;
    flex-wrap: wrap; /* Permite que los videojuegos se ajusten en filas */
    gap: 20px; /* Añade espacio entre los videojuegos */
    padding: 20px; /* Añade espacio alrededor del contenedor principal */
    margin-top: 10px; /* Añade espacio entre la barra de navegación y los videojuegos */
    justify-content: center;
}


/* Estilos de portadas de videojuego */
.videojuego {
    border: 10px groove rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 200px; /* Establece un ancho fijo para los artículos */
    box-sizing: border-box; /* Asegura que el padding y el border estén incluidos en el width */
    align-items: center;
    text-align: center;
    width: 260px; /* Aumenta el ancho del contenedor */
    height: 350px; /* Aumenta la altura del contenedor si es necesario */
}

.videojuego h3 {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que no cabe en el contenedor */
    text-overflow: ellipsis; /* Añade puntos suspensivos al final si el texto es demasiado largo */
    max-width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
    margin: 5px;
    font-family: "Raleway", sans-serif;
}

.videojuego h4 {
    font-family: "Raleway", sans-serif;
    margin: 5px;
}

.videojuego img {
    width: 160px; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 200px; /* Establece una altura fija */
    object-fit: cover; /* Recorta la imagen para llenar el contenedor sin deformarse */
    border: 2px solid black;
}

.videojuego button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.videojuego button:hover {
    background-color: #555; /* Color de fondo al pasar el cursor */
}

#quienes-somos{
    text-align: center;
}

#contacto{
    text-align: center;
}

#contacto img {
    width: 64px;
    height:64px;
    margin: 8px;
}