* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow: visible;
    background-color: black;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

.main{
    align-items: center;
    margin-top: 100px;
}
/* Estilos de la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 24px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
}

nav a:hover {
    background-color: #555;
}

.navbar-left .brand {
    font-family: 'Anton', sans-serif;
    font-size: 30px; /* Aumenta el tamaño de la fuente del nombre de la marca */
}

.navbar-right {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.interfaz-form
{
    background-color: #ccc;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 10px groove rgb(0, 0, 0);
}

.interfaz-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.interfaz-form button {
    padding: 5px 10px;
    cursor: pointer;
}

#barra-busqueda
{
    display: flex; /* Activa el modelo flexbox */
    justify-content: center;
    align-items: center;
    width: 100%; /* Ocupa todo el ancho de la página */
}

#barra-busqueda input {
    width: 600px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#boton-buscar {
    display: flex;
    font-size: 16px;
    background-color: #007BFF; /* Color de fondo azul */
    color: white; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor tipo mano */
    margin-bottom: 10px;
}

#boton-buscar:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse */
}

#container-videojuegos {
    display: flex;
    flex-wrap: wrap; /* Permite que los videojuegos se ajusten en filas */
    gap: 20px; /* Añade espacio entre los videojuegos */
    padding: 20px; /* Añade espacio alrededor del contenedor principal */
    justify-content: center;
}


/* Estilos de portadas de videojuego */
.videojuego {
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(201, 255, 219);
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 200px; /* Establece un ancho fijo para los artículos */
    box-sizing: border-box; /* Asegura que el padding y el border estén incluidos en el width */
    align-items: center;
    text-align: center;
    width: 260px; /* Aumenta el ancho del contenedor */
    height: 350px; /* Aumenta la altura del contenedor si es necesario */
    border-radius: 20px;
}

.videojuego:hover
{
    transform: scale(105%,105%);
}

.videojuego h3 {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que no cabe en el contenedor */
    text-overflow: ellipsis; /* Añade puntos suspensivos al final si el texto es demasiado largo */
    max-width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
    margin: 5px;
    font-family: "Raleway", sans-serif;
}

.videojuego h4 {
    font-family: "Raleway", sans-serif;
    margin: 5px;
}

.videojuego img {
    width: 160px; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 200px; /* Establece una altura fija */
    object-fit: cover; /* Recorta la imagen para llenar el contenedor sin deformarse */
    border: 2px solid black;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #555; /* Color de fondo al pasar el cursor */
}

#ver-carrito {
    position: fixed;
    bottom: 20px; /* Distancia desde el borde inferior */
    right: 20px; /* Distancia desde el borde derecho */
    background-color: transparent; /* Fondo transparente para que se vea solo la imagen */
    border: none; /* Sin bordes */
    padding: 0;
    cursor: pointer;
    box-shadow: none; 
    outline: none; 
}

#ver-carrito img {
    width: 80px; /* Tamaño de la imagen */
    height: 80px;
}

#ver-carrito:hover img {
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el mouse */
    transition: transform 0.2s ease;
}

.hidden {
    display: none;
}

#carrito {
    position: fixed;
    top: 10%;
    right: 0%; /* Ajusta según sea necesario */
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 400px; /* Define un ancho fijo */
    height: 400px; /* Define un alto fijo */
    overflow-y: auto; /* Habilita desplazamiento vertical */
    flex-direction: column; /* Coloca los elementos en una columna */
    gap: 10px; /* Espaciado entre elementos */
}

.juego-en-carrito{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.juego-en-carrito img {
    width: 80px; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 100px; /* Establece una altura fija */
    object-fit: cover; /* Recorta la imagen para llenar el contenedor sin deformarse */
    border: 2px solid black;
}

.datos-juego-carrito{
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
}

#quienes-somos{
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
}

#contacto{
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
}

#contacto img {
    width: 64px;
    height:64px;
    margin: 8px;
}